.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F3;
    margin: 0.5rem 0.25rem;
    border-radius: 5px;
    padding: 0.25rem 0.625rem;
}   

.taskTitle {
    font-size: small;
}

input.taskTitle {
    line-height: 1.5rem;
}

.buttons {
    background-color: transparent;
    border: none;
}

.red {
    color: red;
}

.smallIcon {
    font-size: 1rem;
}