.editableTitle {
    background-color: transparent;
    border: none;
    order: 0;
    align-self: center;
    font-size: medium;
    font-weight: 900;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}

input.editableTitle {
    line-height: 2rem;
    margin:0.3rem 0;
    min-width:12.5rem;
    width:100%;
}