.taskBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #123753;
    flex-basis: 100%;
    align-items: flex-start;
    padding: 1rem;
}

.addCard {
    border-radius: 50%;
    background-color: #07B4EE;
    height: 2.25rem;
    width: 2.25rem;
    border-color: transparent;
    margin-left: 1rem;
    margin-top: 2rem;
}